.moviesContainer
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    img
        width: 20%;
    h1
        font-size: 1.75rem;
        margin: 20px 0 5px 0
    h2
        font-size: 1.25rem;
    p
        font-size: 1.5rem;
        width: 50%;
        margin-top: 20px;
    .actors
        color: #007F60