header
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    align-items: center;
    background-color: #FBF7ED;
    width: 100%
    max-width: 2800px;
    margin: 0 auto

    img
        width: 30%;
    input
        width: 50%;
        height: 75px;
        font-size: 2.5rem
        padding-left: 15px
        border-radius: 15px;
        border: 1px solid #6A7077;
        display: flex;
        visibility: hidden;
        @media screen and (max-width: 2800px) 
            font-size: 2.5rem;
            height: 75px;
            border-radius: 15px;
        @media screen and (max-width: 1920px) 
            font-size: 1.5rem;
            height: 40px;
            border-radius: 5px;

    input:focus
        outline-color: #007F60;

    button
        width: 250px;
        height: 75px;
        font-size: 2.5rem
        border-radius: 15px;
        color: white;
        background-color: #007F60
        border: 0;
        transition-duration: 200ms
        visibility: hidden;
        padding: 10px;
        @media screen and (max-width: 2800px) 
            font-size: 2.5rem;
            padding: 10px;
            width: 250px;
            height: 75px;
            border-radius: 15px;

        @media screen and (max-width: 1920px) 
            font-size: 1.5rem
            padding: 0px;
            width: 150px;
            height: 40px;
            border-radius: 5px;
    button:hover
        background-color: #002E25