header
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gold
    img
        width: 25%;
    input
        width: 50%;
        height: 40px;
        font-size: 1.5rem
        padding-left: 15px