footer
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    background-color: #002E25
    width: 100%
    justify-content: center;
    align-items: center;    
    section
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 10px;
        .nombutton
            display: flex;
            visibility: hidden;

            h1
                font-size: 1.25rem;
                color: gold;
                padding-top: 10px;
            button
                background-color: transparent
                color: white;
                border: 0;
                transform: rotate(-90deg);
                font-size: 2rem;
                margin: 5px 0 0 15px;
            button:hover
                color: gold;
        .login
            h1
                font-size: 1.25rem;
                color: white;
                padding-bottom: 10px;
            h1:hover
                cursor: pointer
                border-bottom: 2px solid white;
        .logout
            display: flex;
            h1
                font-size: 1.25rem;
                color: white;
                padding-bottom: 10px;
            h1:hover
                cursor: pointer
                border-bottom: 2px solid white;
            h2
                font-size: 1.25rem;
                color: white;
                padding: 0 10px 10px 0;    
        
    .nominated
        display: none;